In [1]:
import pandas as pd
import json
import uuid
import time

In [2]:
df = pd.read_json("hf://datasets/AdaptLLM/finance-tasks/Headline/test.json")
df

,id,input,options,gold_index,class_id
0,0,"Headline: ""Gold falls to Rs 30,800; silver dow...","[No, Yes]",1,0
1,1,Headline: february gold rallies to intraday hi...,"[No, Yes]",0,7
2,2,Please answer a question about the following h...,"[No, Yes]",0,5
3,3,"Read this headline: ""gold closes lower as doll...","[No, Yes]",1,3
4,4,"gold adds $42, or 2.4%, to trade at $1,833.30/...","[No, Yes]",0,1
...,...,...,...,...,...
20542,20542,"Read this headline: ""gold prices steady amid f...","[No, Yes]",1,0
20543,20543,Answer a question about this headline:\nMCX GO...,"[No, Yes]",0,7
20544,20544,"""gold extends gains to third day on ongoing un...","[No, Yes]",0,5
20545,20545,Gold futures log first gain in 3 sessions\nDoe...,"[No, Yes]",0,3
20546,20546,"""mcx gold april contract slips 1.2%"" Answer th...","[No, Yes]",0,1

In [3]:
def transform_data(df, output_file):
    result_list = []
    
    start_time = time.time()

    for index, row in df.iterrows():
        id = row['id']
        question = row['input']
        correct_answer = row['options'][row['gold_index']]
        
        entry = {
            "id": id,
            "Question": question,
            "Answer": correct_answer,
            "Class_ID": row['class_id']
        }
        result_list.append(entry)
    
    with open(output_file, "w") as json_file:
        json.dump(result_list, json_file, indent=4)
    
    end_time = time.time()
    total_time = end_time - start_time
    
    total_pairs = len(result_list)
    
    print(f"Data transformation completed. {total_pairs} records saved to {output_file}")
    print(f"Total question-answer pairs extracted: {total_pairs}")
    print(f"Time taken for processing: {total_time:.2f} seconds")

In [4]:
if __name__ == "__main__":
    output_file = "transformed_data.json"
    transform_data(df, output_file)

Data transformation completed. 20547 records saved to transformed_data.json
Total question-answer pairs extracted: 20547
Time taken for processing: 1.45 seconds

In [5]:
pd.read_json("transformed_data.json")

,id,Question,Answer,Class_ID
0,0,"Headline: ""Gold falls to Rs 30,800; silver dow...",Yes,0
1,1,Headline: february gold rallies to intraday hi...,No,7
2,2,Please answer a question about the following h...,No,5
3,3,"Read this headline: ""gold closes lower as doll...",Yes,3
4,4,"gold adds $42, or 2.4%, to trade at $1,833.30/...",No,1
...,...,...,...,...
20542,20542,"Read this headline: ""gold prices steady amid f...",Yes,0
20543,20543,Answer a question about this headline:\nMCX GO...,No,7
20544,20544,"""gold extends gains to third day on ongoing un...",No,5
20545,20545,Gold futures log first gain in 3 sessions\nDoe...,No,3
20546,20546,"""mcx gold april contract slips 1.2%"" Answer th...",No,1